$color-cta = #70b934

@import './api'

*
  box-sizing: border-box

html
  position: relative
  min-height: 100%
  text-size-adjust: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

body
  background: white
  margin: 0 0 100px 0

a
  color: #0296ee
  transition: color .4s ease

header
  background: linear-gradient(to bottom,  #15222c 0%,#294151 200%);
  padding: 2em 0 1em 0
  &.home
    padding: 3em 0 0 0

  .container
    width: 90%
    max-width: 960px
    margin: 0 auto

.branding
  img
    height: 40px
    margin: -.5em 0 0 0

.hero
  text-align: center
  padding: 5em 2em 0 2em
  max-height: 900px

  h1
    color: white
    font-size: 2.25em
    margin-bottom: .35em

  h2
    color: rgba(255,255,255,.7)

  .interface
    img
      display: block
      margin: 0 auto

.cta
  display: inline-block
  background: $color-cta
  border-radius: 4px
  padding: .4em 1em
  color: white
  text-decoration: none
  margin: .5em 0 1.5em 0
  transition: background .25s ease
  &:hover
    background: darken($color-cta, 15%)

nav
  float: right
  text-align: right

  a
    color: rgba(255,255,255,.7)
    margin-left: 1em
    text-decoration: none

    &:hover
      color: rgba(255,255,255,1)

    &.action
      color: white
      border: 1px solid white
      border-radius: 3px
      padding: .25em .6em

      &:hover
        color: white

.intro
  border-top: 1px solid #d1d1d1
  border-bottom: 1px solid #d1d1d1
  padding: 4em 1em
  text-align: center

  h3
    margin: 0

.features
  padding: 2em

  h2
    text-align: center
    margin: 3em 0 2em 0

  h3
    margin-bottom: 1em

  h3 + p
    margin-bottom: 2em

.blog
  list-style: none
  max-width: 960px
  margin: 0 auto

  article
    max-width: 500px
    margin: 4em auto

  .post-title
    text-align: center

    a
      color: hsl(0,0%,20%)
      text-decoration: none

.docs
  article
    padding: 4em

footer
  position: absolute
  left: 0
  bottom: 0
  font-size: .9em
  height: 100px
  width: 100%
  padding: 1em .75rem

  a:link, a:visited
    display: inline-block
    margin: 0 .5em
    text-decoration: none
    color: #6c6c6c

    &:hover
      color: darken(#6c6c6c, 30%)

@media (max-width: 640px)
  html
    font-size: 14px

  .branding
    display: block
    margin-bottom: 1em
    text-align: center

  nav
    display: block
    float: none
    text-align: center
