{
  "presets": [
    ["next/babel", {
      "styled-jsx": {
        "plugins": [
          "styled-jsx-plugin-postcss"
        ]
      }
    }]
  ],
  "plugins": [
    "markdown-in-js/babel",
    ["module-resolver", {
      "root": ["./"]
    }]
  ]
}
